body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* navbar */
#ww {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-right: 1px solid #bbb;
    position: fixed;
    top: 0;
    z-index: 1000%;
    font-size: 28px;
    width: 100%;
}

#nav {
    float: left;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* not active nav */
#nav a:hover:not(.active) {
    background-color: blue;
}

/* active nav */
.active {
    background-color: #080632;
}

.active:hover {
    background-color: blue;
}



/* header */
header {
    padding: 30px;
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    padding-top: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* sections */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 18px 20px;
    width: 100%;
}

/* about page */
.container1 {
    padding: 1px;
    padding-top: 5px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 0px auto;
    line-height: 30px;
    font-size: 20px;
}

.sub_container1 {
    text-align: center;
    padding: 10px 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    margin: 0px auto;
    margin-top: 50px;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}


.flex-container>div {
    background-color: #f1f1f1;
    width: 26%;
    margin: 0 auto;
    height: 20%;
    padding: 1px;
    line-height: 45px;
    padding-top: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;


}

.sub_me {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.but {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 5px;
}

#trans {
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}

#trans:hover {
    width: 350px;
    background: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1px;
    color: #f1f1f1;
    border-radius: 10px;
}

/* button */

.btn {
    background-color: #333;
    border-radius: 11px;
    border: 2px solid blue;
    display: block;
    font-size: 28px;
    font-weight: bold;
    padding: 8px 18px;
    width: 26%;
    margin: 0 auto;
    margin-top: 50px;
    color: whitesmoke;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}

.btn:hover {
    width: 350px;
    background: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1px;
    color: #f1f1f1;
    border-radius: 10px;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn0 {
    border: none;
    padding: 13px 15%;
    display: inline-block;
    margin: 0 auto;

}

/* BUTTON ONE */
.btn1 {
    height: 50px;
    width: 25px;
    font-size: 20px;
    color: #04AA6D
}

.btn1:hover {
    color: blue;
}

/* BUTTON TWO */
.btn2 {
    height: 50px;
    width: 190px;
    text-align: center;
    color: whitesmoke;
    background-color: #333;
    border-radius: 11px;
    border: 2px solid blue;
    font-size: 28px;
    font-weight: bold;
    padding: 8px 18px;
    transition: width 2s;

}

.btn2:hover {
    width: 350px;
    background: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1px;
    color: #f1f1f1;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px 18px;
}

.btn2:active {
    position: relative;
    top: 1px;
}


footer {
    background-color: #333;
    z-index: 1000%;
    font-size: 28px;
    text-align: center;
    color: #f1f1f1;
    margin-top: 20px;
    padding: 8px 18px;
}

/* responsive ness */

@media screen and (max-width: 600px) {

    #ww.topnav #nav.right #ww.topnav #nav {
        float: none;
    }
}

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }

    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}

/* forms */
form {
    margin: 0 auto;
    width: 85%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #f1f1f1;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 40px;
    line-height: 70%;
}

.r {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    width: 95%;
    margin-top: 20px;
    padding: 8px 10px;
    font-size: 20px;

}

input {
    /*Tomakesurethatalltextfieldshavethesamefontsettings/*/*Matchformfieldborders*/margin-top: 20px;
    padding: 8px 18px;
    line-height: 40px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input:focus,
textarea:focus 
select:focus{
    /* Additional highlight for focused elements */
    border-color: #000;
}
/* remember me */
#rememberme{
    box-sizing: border-box;
    width: 40px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 3;

}

/* select for registration */
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    padding: 8px 18px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 16px;
    padding: 12px;
    box-sizing: border-box;
    display: inline-block;
    /*reset*/-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }

    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

/* SOCIAL MEDIA NAV */
/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 20%;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* SOCIAL ,MEDIA */
.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}